<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BadgerEmployees" connectionString="Data Source=DESKTOP-KVONE5C\SQLEXPRESS;Initial Catalog=BadgerEmployees;Integrated Security=True" />
		<add name="WeekSites" connectionString="Data Source=DESKTOP-KVONE5C\SQLEXPRESS;Initial Catalog=WeekSites;Integrated Security=True" />
	</connectionStrings>
</configuration>